= simple_form_for @user, :url => password_reset_path(params[:id]), :html => {:class => "form-horizontal"} do |f|
	= f.error_notification
	.field
		= f.input :password
	.field
		= f.input :password_confirmation
	.actions= f.button "submit", "Update Password"